#bad {
  display: none;
}

#good {
  display: none;
}
h2 {
  text-align: center;
  color: white;
  text-shadow: 4px;
}
.moon {
  text-align: center;
}
body {
color: gold;
background-color: #8308DF;
}
cursor {
  hover: pointer;
}

#fortune1 {
  display: none;
}

#fortune2 {
  display: none; 
}

