#work-responses {
  display: none;
}

#fun-responses {
  display: none;
}
h2 {
  text-align: center;
  color: white;
  text-shadow: 4px;
}
body {
text-align: center;
background-color: lightblue;
}
cursor {
  hover: pointer;
}